Repository Bartosz-D3V/Tetris: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run pretty, npm run lint

.lintstagedrc:

{
  "linters": {
    "*.{js,css,json,md,yml}": [
      "npm run pretty",
      "git add"
    ],
    "*.{js,css}": [
      "npm run lint",
      "git add"
    ]
  }
}

remove linting from lint-staged
  .lintstagedrc
Due: none

chore: add linting tools (#2)
  .editorconfig
  .eslintignore
  .eslintrc
  .huskyrc
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  .yarnrc
  package.json
  src/index.js
  webpack.config.dev.js
  webpack.config.js
  yarn.lock
Due: npm run pretty, npm run lint

chore: add production webpack config
  style/_reset.css
  style/_tetris.css
  style/manifest.css
  webpack.config.dev.js
Due: npm run pretty, npm run lint

fix: CSS HMR
  package.json
  src/index.js
  webpack.config.prod.js
Due: npm run pretty, npm run lint

chore: add travis file
  .travis.yml
Due: npm run pretty

fix travis
  .travis.yml
Due: npm run pretty

chore: add production webpack config (#3)
  .travis.yml
  package.json
  src/index.js
  style/_reset.css
  style/_tetris.css
  style/manifest.css
  webpack.config.prod.js
Due: npm run pretty, npm run lint

fix(ci): travis config file
  .travis.yml
Due: npm run pretty

change node version
  .travis.yml
Due: npm run pretty

remove import
  src/index.js
Due: npm run pretty, npm run lint

add sudo
  .eslintrc
  .travis.yml
  src/index.js
Due: npm run pretty, npm run lint

change notation
  .travis.yml
  package.json
Due: npm run pretty

change eslint path
  package.json
Due: npm run pretty

fix(ci): travis config file (#4)
  .eslintrc
  .travis.yml
  package.json
Due: npm run pretty

chore: add deploy script (comment-out)
  .travis.yml
Due: npm run pretty

chore: add deploy script (comment-out) (#5)
  .travis.yml
Due: npm run pretty

feat: draw board
  index.html
  src/constants.js
  src/index.js
  style/_tetris.css
Due: npm run pretty, npm run lint

add stylelint
  .stylelintignore
  package.json
  src/index.js
  style/_reset.css
  style/_tetris.css
Due: npm run pretty, npm run lint

chore: add prettierrc
  .prettierrc
  .travis.yml
  src/index.js
  style/_reset.css
  style/manifest.css
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
Due: npm run pretty, npm run lint

feat: draw board (#6)
  .prettierrc
  .stylelintignore
  .travis.yml
  index.html
  package.json
  src/constants.js
  src/index.js
  style/_reset.css
  style/_tetris.css
  style/manifest.css
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
Due: npm run pretty, npm run lint

feat: get random tetromino
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

lint: fix linting
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: get random tetromino (#7)
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: create state
  src/index.js
Due: npm run pretty, npm run lint

fix linting errors
  .eslintrc
  src/index.js
Due: npm run pretty, npm run lint

feat: create state (#8)
  .eslintrc
  src/index.js
Due: npm run pretty, npm run lint

feat: draw tetromino
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

fix linting issues
  .eslintrc
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: draw tetromino (#9)
  .eslintrc
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

fix willLand function
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

refactor code
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

fix linting issues
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: willLand function (#10)
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: move tetromino
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

fix: check landed property
  src/helpers.js
Due: npm run pretty, npm run lint

feat: move tetromino (#11)
  src/constants.js
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: multiple tetrominos
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: multiple tetrominos (#12)
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint

feat: colourful tetrominos
  src/helpers.js
  src/index.js
Due: npm run pretty, npm run lint
